* {
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: aqua; 
}

body {
    display: grid;
    width: 100vh;
    height: 100vh;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px)
}

article {
    border: 1px solid black;
    display: grid;

}  




